<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Xenon Boostrap Admin Panel" />
	<meta name="author" content="" />
	
	<title>Xenon - Data Tables</title>


	<link rel="stylesheet" href="/assets/css/fonts/linecons/css/linecons.css">
	<link rel="stylesheet" href="/assets/css/fonts/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/css/bootstrap.css">
	<link rel="stylesheet" href="/assets/css/xenon-core.css">
	<link rel="stylesheet" href="/assets/css/xenon-forms.css">
	<link rel="stylesheet" href="/assets/css/xenon-components.css">
	<link rel="stylesheet" href="/assets/css/xenon-skins.css">
	<link rel="stylesheet" href="/assets/css/custom.css">

	<script src="/assets/js/jquery-1.11.1.min.js"></script>


	
</head>
<body class="page-body">
<div class="page-container">
	<div class="main-content" id="main-content">
			<div id="main-container">
					
				<!-- Custom column filtering -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">存款列表</h3>
					<div class="panel-options">
						<a href="#" data-toggle="panel">
							<span class="collapse-icon">&ndash;</span>
							<span class="expand-icon">+</span>
						</a>
						<a href="#" data-toggle="remove">
							&times;
						</a>
					</div>
				</div>
				<div class="panel-body">
					<script type="text/javascript">
                        jQuery(document).ready(function($)
                        {

                                $("#example-3").dataTable({
                                    "ajax": {
                                        "url": "/data/ajax.txt"
                                    },
                                    columns: [
                                        {"data": "name"},
                                        {"data": "position"},
                                        {"data": "office"},
                                        {"data": "extn"},
                                        {"data": "start_date"},
                                        {"data": "salary"}
                                    ],
                                }).yadcf([
                                    {column_number: 0, filter_type: 'text'},
                                    {column_number: 1, filter_type: 'text'},
                                    {column_number: 2, filter_type: 'text'},
                                ]);
                        });
					</script>
					<table class="table table-striped table-bordered" id="example-3">
						<thead>
							<tr class="replace-inputs">
								<th>账号类型</th>
								<th>姓名</th>
								<th>身份证号码</th>
								<th>储蓄类型</th>
								<th>资金总额</th>
								<th>币种</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
			<!-- Main Footer -->
			<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
			<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
			<!-- Or class "fixed" to  always fix the footer to the end of page -->

		</div>
		</div>
</div>
	<!-- Imported styles on this page -->
	<link rel="stylesheet" href="/assets/js/datatables/dataTables.bootstrap.css">

	<!-- Bottom Scripts -->
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/TweenMax.min.js"></script>
	<script src="/assets/js/resizeable.js"></script>
	<script src="/assets/js/joinable.js"></script>
	<script src="/assets/js/xenon-api.js"></script>
	<script src="/assets/js/xenon-toggles.js"></script>
	<script src="/assets/js/datatables/js/jquery.dataTables.min.js"></script>


	<!-- Imported scripts on this page -->
	<script src="/assets/js/datatables/dataTables.bootstrap.js"></script>
	<script src="/assets/js/datatables/yadcf/jquery.dataTables.yadcf.js"></script>
	<script src="/assets/js/datatables/tabletools/dataTables.tableTools.min.js"></script>


	<!-- JavaScripts initializations and stuff -->
	<script src="/assets/js/xenon-custom.js"></script>

</body>
</html>